<div class="page-header">
  <h1 class="page-title">Bootstrap Tables</h1>
  <ol class="breadcrumb">
    <li><a href="http://getbootstrapadmin.com/remark/html/index.html">Home</a></li>
    <li><a href="javascript:void(0)">Tables</a></li>
    <li class="active">Bootstrap</li>
  </ol>
  <div class="page-header-actions">
    <a class="btn btn-sm btn-default btn-outline btn-round" href="https://github.com/wenzhixin/bootstrap-table" target="_blank">
      <i class="icon wb-link" aria-hidden="true"></i>
      <span class="hidden-xs">Official Website</span>
    </a>
  </div>
</div>
<div class="page-content container-fluid">
  <!-- Panel Basic -->
  <div class="panel">
    <div class="panel-heading">
      <h3 class="panel-title">Basic</h3>
    </div>
    <div class="panel-body">

    </div>
  </div>
  <!-- End Panel Basic -->
</div>
