<div ng-controller="DashboardController">

  <div class="page-header">
    <h1 class="page-title"><i class="icon wb-pie-chart"></i>Acompanhamento e Visão Geral</h1>

    <div class="page-header-actions">
      <!--<a class="btn btn-sm btn-default btn-outline btn-round" href="https://github.com/wenzhixin/bootstrap-table" target="_blank">-->
        <!--<i class="icon wb-link" aria-hidden="true"></i>-->
        <!--<span class="hidden-xs">Official Website</span>-->
      <!--</a>-->
    </div>
  </div>
  <div class="page-content container-fluid">
    <!-- Panel Basic -->
    <div class="row">

      <div class="col-lg-12 col-md-12">
        <!-- Widget -->

          <div class="col-md-6">
            <!-- Widget -->
            <div class="widget">
              <div class="widget-content widget-radius padding-30 bg-white clearfix">
                <div class="pull-left white">
                  <i class="icon icon-circle icon-2x wb-clipboard bg-green-600" aria-hidden="true"></i>
                </div>
                <div class="counter counter-md counter text-right pull-right">
                  <div class="counter-number-group">
                    <span class="counter-number">{{tracksStarted.length}}</span>
                    <span class="counter-number-related text-capitalize">{{pluralize(tracksStarted.length, 'rota')}}</span>
                  </div>
                  <div class="counter-label text-capitalize font-size-16">em execução</div>
                </div>
              </div>
            </div>
            <!-- End Widget -->
          </div>
        <!-- End Widget -->


        <!-- Widget -->

        <div class="col-md-6">
          <!-- Widget -->
          <div class="widget">
            <div class="widget-content widget-radius padding-30 bg-white clearfix">
              <div class="pull-left white">
                <i class="icon icon-circle icon-2x fa fa-map-marker bg-blue-600" aria-hidden="true"></i>
              </div>
              <div class="counter counter-md counter text-right pull-right">
                <div class="counter-number-group">
                  <span class="counter-number">{{checkins.length}}</span>
                  <span class="counter-number-related text-capitalize">{{pluralize(checkins.length, 'checkin')}}</span>
                </div>
                <div class="counter-label text-capitalize font-size-16">{{pluralize(checkins.length, 'realizado')}}</div>
              </div>
            </div>
          </div>
          <!-- End Widget -->
        </div>

        <div class="col-md-12">
          <!-- Widget -->
          <div class="widget">
            <div class="widget-content widget-radius padding-30 bg-white clearfix">
              <div class="col-md-12 col-sm-12">
                <div class="font-size-20 margin-bottom-20 text-uppercase blue-grey-700">ROTAS EM EXECUÇÃO</div>
                <ul class="list-unstyled margin-bottom-0">
                  <li ng-repeat="track in tracksStarted">
                    <div class="counter counter-sm text-left">
                      <div class="counter-number-group margin-bottom-10">
                        <span class="counter-number-related">{{track.title}} - </span>
                        <span class="counter-number">{{track.completed}}</span>
                        <span class="counter-number-related">%</span>
                      </div>
                    </div>
                    <div class="progress progress-xs">
                      <div class="progress-bar progress-bar-info bg-blue-600" aria-valuenow="{{track.completed}}" aria-valuemin="0" aria-valuemax="100" style="width: {{track.completed}}%" role="progressbar">
                        <span class="sr-only">{{track.completed}}%</span>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- End Widget -->
        </div>

        <!-- End Widget -->
      </div>

    </div>
    <!-- End Panel Basic -->
  </div>


</div>
